<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DeckOfCardsGame.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <DeckOfCardsGame.Properties.Settings>
            <setting name="Author" serializeAs="String">
                <value>Guanlong Zhou</value>
            </setting>
            <setting name="Org" serializeAs="String">
                <value>University of Missouri</value>
            </setting>
            <setting name="Year" serializeAs="String">
                <value>2015</value>
            </setting>
            <setting name="Site" serializeAs="String">
                <value>www.WhoIsLong.com</value>
            </setting>
        </DeckOfCardsGame.Properties.Settings>
    </userSettings>
</configuration>